@font-face {
  font-family: Open Sans Bold;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Open Sans Regular;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: Regular;
  font-style: normal;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: ;
  color: ;
}

.header {
  background-image: url("../images/banner-bg.jpg");
  width: 1660px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;

  text-transform: uppercase;
  z-index: -1;
}

.header:before {
  content: "";
  position: absolute;
  width: 1660px;
  height: 450px;
  background-color: #000000;
  opacity: 0.6;

  z-index: 0;
}

.top-panel {
  display: flex;
  flex-wrap: nowrap;

  z-index: 1;
}

.header-logo {
  width: 180px;
  height: 35px;
  margin-top: 35px;
  margin-left: 250px;
  z-index: 1;
}

.menu {
  margin-top: 35px;
  margin-left: 525px;
  font-size: 13px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.menu-list-item {
  z-index: 1;
  color: white;
}

.menu-list-item:nth-child(n + 2) {
  padding-left: 20px;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.menu-link:hover {
  text-decoration: underline;
}

.intro {
  display: flex;
  justify-content: center;

  width: auto;
  margin-top: 74.97px;

  margin-left: auto;
  margin-right: auto;

  color: white;
}

.intro-title {
  font-family: Open Sans Bold, sans-serif;
  font-size: 45px;
  line-height: 74.97px;

  text-align: center;
  z-index: 1;
}

.trends-section {
  display: block;

  width: 1660px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.trends {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 63px;
}

.trends_title {
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans Bold";
  margin-bottom: 15px;
}

.underlining {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.trend-cards {
  display: flex;
  justify-content: space-between;
  width: 1660px;
  height: 320px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
  float: left;

  position: relative;
  background-color: #000000;
  width: 414px;
  height: 319px;
  padding: 0;
  margin: 0;
}

.card img {
  width: 414px;
  height: 319px;
  opacity: 0.6;
}

.card:nth-child(n + 2) {
  margin-left: 4px;
}

.description-block {
  position: absolute;
  width: 370px;
  height: 146px;

  box-sizing: border-box;

  left: 0;
  bottom: 0;

  padding-left: 35px;
  padding-right: 35px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.description-block:hover {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #b59f5b;
  margin-bottom: 18px;
  padding-left: 32px;
}

.category {
  display: inline-block;
  width: auto;
  height: auto;

  padding-top: 20px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans Bold";
}

.category:nth-child(n + 2) {
  padding-left: 20px;
}

.category:hover {
  text-decoration: underline;
}

.title {
  display: inline-block;
  width: auto;
  height: auto;

  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans Bold";
}

.title:hover {
  color: #b59f5b;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 1170px;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  margin-bottom: 60px;
}

.post-list {
  width: 765px;
  height: auto;
}

.post {
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  height: auto;
}

.post img {
  width: 381px;
  height: 294px;
  background-color: #eff6f1;
}

.post:nth-child(n + 2) {
  margin-top: 60px;
}

.description {
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

.post-category {
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
  width: auto;
  height: auto;

  margin-left: 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans Bold";
}

.post-category:nth-child(n + 2) {
  margin-left: 20px;
}

.post-category:hover {
  text-decoration: underline;
}

.post-title {
  display: block;
  width: 367px;
  height: auto;

  margin-top: 10px;
  margin-left: 30px;

  font-size: 20px;

  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans Bold";
}

.post-title:hover {
  color: #b59f5b;
}

.post-date {
  display: inline-block;

  margin-top: 30px;
  margin-left: 30px;

  font-size: 12px;
  color: #888888;
  font-weight: 400;
  font-family: "Open Sans Regular";
}

.post-autor {
  display: inline-block;

  margin-top: 30px;
  margin-left: 15px;

  font-size: 12px;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans Bold";
}

.post-text {
  display: inline-block;

  width: 367px;
  height: auto;

  margin-top: 50px;
  margin-left: 30px;
  bottom: 0;

  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-family: "Open Sans Regular";
}

.post-text:nth-of-type(2) {
  margin-top: 20px;
}

.side-bar-aside {
  width: 275px;
  height: auto;
}

.side-bar-headline {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans Bold";
}

.new-publication {
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  height: auto;
}

.new-publication img {
  width: 70px;
  height: 70px;
  background-color: #f4f7f6;
}

.new-publication:nth-child(n + 2) {
  margin-top: 22px;
}

.side-bar-description {
  display: block;

  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

.side-bar-date {
  display: block;

  margin-top: 0;
  padding-top: 0;
  width: 100px;
  height: auto;
  margin-left: 18px;

  opacity: 0.541;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans Regular";
}

.side-bar-title {
  display: block;

  width: 185px;
  height: auto;
  text-align: left;

  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans Bold";
}

.search {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 48px;

  margin-top: 60px;
  background-color: #f4f7f6;
}

.search_field {
  box-sizing: border-box;
  width: 222px;
  height: 48px;

  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans Regular";

  display: inline-block;
  vertical-align: middle;

  padding-left: 18px;

  border: none;
}

.search_field:focus {
  background-color: #f4f7f6;
  outline-offset: none;
  outline: 1px solid #b59f5b;
}

.search_field:hover {
  padding: 0 0 0 17px;
  border: 1px solid #b59f5b;
}

.search_button {
  display: inline-block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 0;

  background-color: #b59f5b;
  border: none;
  cursor: pointer;

  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.search_button:focus {
  outline-offset: none;
  outline: 1px solid #b59f5b;
  background-color: #b59f5b;
}

.search_button:hover {
  background-color: #323232;
}

.side-bar-title-box {
  margin-top: 60px;
}

.email_field {
  display: block;
  box-sizing: border-box;
  width: 270px;
  height: 48px;

  display: inline-block;
  vertical-align: middle;

  background-color: #f4f7f6;
  border: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0 0 0 18px;

  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans Regular";
}

.email_field:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
  outline: none;
  outline-offset: none;
}

.email_field:hover {
  padding: 0 0 0 17px;
  border: 1px solid #b59f5b;
}

.email_button {
  display: block;
  width: 270px;
  height: 48px;

  border: none;
  margin-top: 0;
  background-color: #b59f5b;

  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans Bold";
}

.email_button:hover {
  width: 270px;
  height: 48px;
  background-color: #323232;
  outline: none;
  outline-offset: none;
}

.tag_block {
  display: inline-block;
  width: auto;
  height: 30px;

  margin-top: 25px;

  background-color: rgba(244, 243, 241, 0);

  border: 3px solid #eeeeee;
}

.tag_block:nth-child(n + 3) {
  margin-top: 5px;
}

.tag_name {
  display: flex;
  align-items: center;
  width: auto;
  height: inherit;

  padding: 0 12px 0 12px;

  font-size: 12px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans Bold";
}

.tag_block:hover {
  width: auto;
  height: 30px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #b59f5b;
}

.themse {
	box-sizing: border-box;
	width: 275px;
	height: 45px;
	
	font-size: 14px;
	line-height: 47px;
	color: #000000;
	font-weight: 700;
	font-family: "Open Sans Bold";
}

.themse:nth-of-type(1) {
	margin-top: 20px;
}

.themse:nth-of-type(n + 2) {
	border-bottom: 1px solid #eeeeee;
}

.themse:hover {
	color: #b59f5b;
}

sup {
	font-size: 12px;
	line-height: 36px;
	color: #b59f5b;
	font-weight: 700;
	font-family: "Open Sans Bold";
}

.products-box {
	display: flex;
	width: 1165px;
	height: auto;

	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;

	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.product {
	display: block;
	width: 300px;
	height: 450px;
	position: relative;
	
	

	
}

.border {
	position: absolute;

	
	left: calc((347px - 300px) / -2);
	top: 170px;

	
	
}

.border::before,
.border::after {
	content: "";
	position: absolute;
	width: 347px;
	height: 267px;
	border: 3px solid transparent;
	pointer-events: none;
}

.border:hover::before {
  border-color: #b59f5b;
}


.product-description {
	width: 347px;
	margin-top: 50px;
	margin-left: calc((347px - 300px) / 2);


}

.product-img-first {

	display: block;
	width: 300px;
	height: 204px;

	margin-left: auto;
	margin-right: auto;

	background-image: url("../images/shop-item-desk1.jpg");
	background-color: #eff6f1;

	
}

.product-img-second {
	display: block;
	width: 300px;
	height: 204px;

	margin-left: auto;
	margin-right: auto;

	background-image: url("../images/shop-item-desk2.jpg");
	background-color: #eff6f1;
}

.product-img-third {
	display: block;
	width: 300px;
	height: 204px;

	margin-left: auto;
	margin-right: auto;

	background-image: url("../images/shop-item-desk3.jpg");
	background-color: #eff6f1;
}

.product-title {
	box-sizing: border-box;
	display: block;
	width: 300px;
	height: auto;
	margin-top: 25px;

	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
	font-family: "Open Sans Bold";
}

.product-text {
	box-sizing: border-box;
	display: block;
	width: 300px;
	height: auto;

	margin-top: 8px;
	margin-bottom: 20px;

	font-size: 15px;
	line-height: 22px;
	color: #0f0d0e;
	font-weight: 400;
	font-family: "Open Sans Regular";
}

.product-link {
	text-decoration: none;
	color: #b59f5b;
}

.price-buttom-box {
	display: flex;
	width: 300px;
	justify-content: space-between;
}

.price-box {
	display: inline-block;
}

.old-price {
	display: block;
	width: auto;
	height: 24px;

	font-size: 14px;
	line-height: 24px;
	text-decoration: line-through;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
	font-family: "Open Sans Bold";
}

.current-price {
	display: block;
	width: auto;
	height: 24px;

	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
	font-family: "Open Sans Bold";
}

.in-shop-box {
	display: inline-block;
}

.in-shop {
	display: flex;

	justify-content:center;
	align-items:center;

	width: 140px;
	height: 48px;

	background-color: #b59f5b;
	text-decoration: none;

	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-family: "Open Sans Bold";
}

.in-shop:hover {
	background-color: #323232;
}



.footer {

}

.social {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	width: 1170px;
	height: 83px;

	margin: 65px auto 0 auto;

	background-color: #f4f7f6;
}

.icon {
	display: inline-block;
	box-sizing: border-box;

	width: 20px;
	height: 20px;

	margin: 0 30px 0 0;
}

.copyrights {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 70px auto 40px auto;
}

.copy {
	font-size: 12px;
	line-height: 40px;
	color: #999999;
	font-weight: 700;
	font-family: "Open Sans Bold";
}